<h2><%= gettext "Edit Recipe" %></h2>

<%= render "form.html", Map.put(assigns, :action, recipes_recipe_path(@conn, :update, @recipe)) %>

<span><%= link gettext("Back"), to: recipes_recipe_path(@conn, :index), class: "btn btn-default" %></span>
