<h2><%= gettext "All Recipes" %></h2>

<%= render "list.html", Map.put(assigns, :recipes, @recipes) %>

<span><%= link gettext("New Recipe"), to: recipes_recipe_path(@conn, :new), class: "btn btn-primary" %></span>
