<h2>Show Recipe</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @recipe.title %>
  </li>

  <%= if @recipe.photo != nil do %>
  <li>
    <img src="<%= encode_photo(@recipe)%>"/>
  </li>
  <% end %>

  <li>
    <strong>Body:</strong>
    <%= markdown(@recipe.body)%>
  </li>

</ul>

<span><%= link "Edit", to: recipes_recipe_path(@conn, :edit, @recipe) %></span>
<span><%= link "Back", to: recipes_recipe_path(@conn, :index) %></span>
