<h2><%= @recipe.title %></h2>

<%= if @recipe.photo != nil do %>
<li>
<img src="<%= encode_photo(@recipe)%>"/>
</li>
<% end %>

<%= @recipe.body |> urls_to_anchors() |> markdown() %>

<span><%= link "Edit", to: recipes_recipe_path(@conn, :edit, @recipe) %></span>
<span><%= link "Back", to: recipes_recipe_path(@conn, :index) %></span>
