/* This file is for your main application css. */
.recipe-header-photo{
    background-size: cover;
    background-position: center;
    height: 300px;
}

.recipe-list-thumb{
    background-size: cover;
    background-position: center;
    height: 64px;
    width: 64px;
}