<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Num</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="<%= static_path(@conn, "/images/apple-touch-icon.png") %>" rel="apple-touch-icon-precomposed" />
    <link href="<%= static_path(@conn, "/images/apple-touch-icon.png") %>" rel="apple-touch-icon" />
    <link href="<%= static_path(@conn, "/images/apple-touch-icon-180x180.png") %>" rel="apple-touch-icon" sizes="180x180" />

    <meta name="mobile-web-app-capable" content="yes">
    <link href="<%= static_path(@conn, "/images/icon-hires.png") %>" rel="icon" sizes="192x192" />
    <link href="<%= static_path(@conn, "/images/icon-normal.png") %>" rel="icon" sizes="128x128" />
    <link href="<%= static_path(@conn, "/images/icon-hires.png") %>" rel="shortcut icon" sizes="192x192" />
    <link href="<%= static_path(@conn, "/images/icon-normal.png") %>" rel="shortcut icon" sizes="128x128" />
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills">
            <li><%= link gettext("Home"), to: page_path(@conn, :index) %></li>
            <li><%= link gettext("All Recipes"), to: recipes_recipe_path(@conn, :index) %></li>
            <li><%= link gettext("My Recipes"), to: recipes_recipe_path(@conn, :mine) %></li>
            <li><%= link gettext("Recommendation"), to: recipes_recipe_path(@conn, :random) %></li>
            <li><%= link gettext("Login"), to: session_path(@conn, :new) %></li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
